# fly.toml file generated for pocketforge-backend
#
# See how to configure this file at https://fly.io/docs/reference/configuration/

app = "pocketforge-backend"
primary_region = "global"
kill_signal = "SIGINT"
kill_timeout = 5
processes = []

[build]
  builder = "docker"

[env]
  PORT = "8080"
  RUST_LOG = "info"
  # DATABASE_URL = "postgres://..." # To be set as a secret
  # GITHUB_CLIENT_ID = "..." # To be set as a secret
  # GITHUB_CLIENT_SECRET = "..." # To be set as a secret

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 0
  processes = ["app"]

[[vm]]
  cpu_kind = "shared"
  cpus = 1
  memory = "1024mb"
